<div class="wrapper">
  <div class="note-list">
    <div style="padding: 10px">
      <div class="sub-header">
        <h3>Notes</h3>
        <mat-icon (click)="handleCreateNote()" matTooltip="New Note"
          >note_add</mat-icon
        >
      </div>
      <div
        style="
          min-width: 200px;
          text-decoration: none;
          margin-bottom: 5px;
          cursor: pointer;
        "
        *ngFor="let note of notes"
        (click)="openNote(note._id)"
      >
        <mat-card class="{{ note._id === noteId ? 'active' : '' }}">
          <mat-card-content>
            <div [innerHTML]="note.content.substring(0, 30) || 'Empty'"></div>
            <p style="font-size: 10px">
              {{
                formatMoment(note.updatedAt).format("MMMM Do YYYY, hh:mm:ss a")
              }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
